@import '_variables';

body {
    background-color: $react-timetable__background-color;
}

.react-timetable-ts {
    position: relative;
    color: $react-timetable__primary-color;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid $react-timetable__border-color;
    &__header {
        display: flex;
        background-color: $react-timetable__header-color;
        text-align: center;
        border-top: 1px solid $react-timetable__border-color;
        border-bottom: 1px solid $react-timetable__border-color;
        &-item {
            flex: 1;
            padding-top: 15px;
            height: 35px;
        }   
    }
    &__column {
        display: flex;
        align-items: stretch;
        height: 600px;
        &-item {
            background-color:$react-timetable__column-color;
            flex: 1;
            border-right: 1px solid $react-timetable__border-color;
            &:last-child {
                border-right: 0;
            }
        }
    }
}