@import '_variables';

body {
    background-color: $react-timetable__background-color;
}

.react-timetable-ts {
    position: relative;
    border: 1px solid black;
    &__header {
        display: flex;
        background-color: gray;
        text-align: center;
        &-item {
            flex: 1;
        }   
    }
    &__column {
        display: flex;
        align-items: stretch;
        height: 600px;
        &-item {
            background-color: yellowgreen;
            flex: 1;
        }
    }
}