@import '_variables';

body {
    background-color: $react-timetable__background-color;
}

.react-timetable-ts {
    position: relative;
    color: $react-timetable__primary-color;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid $react-timetable__border-color;
    &__header {
        display: flex;
        background-color: $react-timetable__header-color;
        text-align: center;
        border-top: 1px solid $react-timetable__border-color;
        border-bottom: 1px solid $react-timetable__border-color;
        &-item {
            flex: 1;
            padding-top: 15px;
            height: 35px;
            &--empty {
                flex: 0 0 100px;
            }
        }   
    }

    &__columns_holder {
        position: relative;
        display: flex;
        height: 600px;
        align-items: stretch;
        overflow-x: scroll;
        .react-timetable-ts__time-column {
            flex: 0 0 100px;
            background-color:$react-timetable__column-color;
            border-right: 1px solid $react-timetable__border-color;
            height: 2400px;
            &-item {
                position: relative;
                height: 100px;
            }
        }
        .react-timetable-ts__day-column {
            background-color:$react-timetable__column-color;
            flex: 1;
            display: flex;
            height: 2400px;
            &-item {
                flex: 1;
                border-right: 1px solid $react-timetable__border-color;
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }

    button {
        background: 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding:5px;
        outline: 0;
    }
}